<div class="small-container center-block">
    <h1>Editar Categoria</h1>

    <%= render 'form', category: @category %>

    <div class="margin-top">
        <%= link_to 'Show', @category %> |
        <%= link_to 'Back', categories_path %>
    </div>

</div>    
